[submodule "kitty/everforest-kitty"]
	path = kitty/everforest-kitty
	url = https://github.com/bgrnwd/everforest-kitty.git
[submodule "tmux/tmux-fingers"]
	path = tmux/tmux-fingers
	url = https://git::@github.com/Morantron/tmux-fingers
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
  ignore = dirty
[submodule "kitty/kitty"]
	path = kitty/kitty
	url = https://github.com/catppuccin/kitty
[submodule "tmux/plugins/catppuccin"]
	path = tmux/plugins/catppuccin
	url = https://github.com/catppuccin/tmux
[submodule "delta/themes/delta"]
	path = delta/themes/delta
	url = git@github.com:catppuccin/delta.git
[submodule "bat/--force"]
	path = bat/--force
	url = git@github.com:catppuccin/bat.git
[submodule "bat/bat"]
	path = bat/bat
	url = git@github.com:catppuccin/bat.git
[submodule "zsh/plugins/fzf-tab"]
	path = zsh/plugins/fzf-tab
	url = git@github.com:Aloxaf/fzf-tab.git
