[submodule "kitty/everforest-kitty"]
	path = kitty/everforest-kitty
	url = https://github.com/bgrnwd/everforest-kitty.git
[submodule "tmux/tmux-fingers"]
	path = tmux/tmux-fingers
	url = https://git::@github.com/Morantron/tmux-fingers
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "kitty/--force"]
	path = kitty/--force
	url = https://github.com/bgrnwd/everforest-kitty.git
[submodule "kitty/kitty"]
	path = kitty/kitty
	url = https://github.com/catppuccin/kitty
[submodule "tmux/plugins/catppuccin"]
	path = tmux/plugins/catppuccin
	url = https://github.com/catppuccin/tmux
